<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Charts.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Charts.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.CodeParser.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Data" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Data.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.DataAccess.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Drawing.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Office.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Printing.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core.de" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="24.1.4" targetFramework="net472" />
  <package id="DevExpress.Xpo.de" version="24.1.4" targetFramework="net472" />
</packages>